/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-thumbnail
{
  border-radius: 5px; 
  background-size: 40px 40px; 
  background-repeat: no-repeat;
  min-width: 40px; 
  min-height: 40px; 
  max-width: 40px;
  margin-right: 10px;
}